{% extends 'base.html.twig' %}
    {% block custumStylesheets %}
            #employe_isArchived{
                display:flex;
                gap:1.5rem;
            }
    {% endblock %}

    {% block body %}
        <div class="container my-5">
            <div class="card shadow-sm">
                <div class="card-body">
                    {{ form_start(formEmp) }}
                    <h3 class="fw-semibold mb-4">{{ titre|default('Ajouter / Éditer un employé') }}</h3>

                    {# Affichage des erreurs globaux (si le contrôleur passe 'errors' ou des flashs) #}
                    {% if errors is defined and errors %}
                        <div class="alert alert-danger">
                        <ul class="mb-0">
                            {% for err in errors %}<li>{{ err }}</li>{% endfor %}
                        </ul>
                        </div>
                    {% endif %}

                    {{ form_end(formEmp) }}
                </div>
            </div>
        </div>
{% endblock %}
